@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}
/* body{
  background: linear-gradient(90deg, #3c3f3d 60%, #e4ebe7 40.1%);
} */
.title{
  font-family: "montserrat", sans-serif;
}
.container{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding:25px;
  min-height: 100vh; */
  /* position: relative;
  top: 150px; */
}

.container form{
  padding:50px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  /* flex: 70%; */
}
/* .img img{
  padding:50px;
  width: 44.5%;
  height: 131vh;
  background-color: aquamarine;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  flex-wrap: wrap;
  /* flex: 30%; /
  position: relative;
  /* right: 400px; /
  left: 700px;
  bottom: 775px;
} */
.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 30px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}
.container form .row .col .myBx span{
 color: #2ecc71;
}
.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}
.myBox{
  margin:48px 0;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 12px;
}
.myBox span{
  margin-left: 10px;
}
.textul{
  margin-left: 10px;
  font-size: small;
}
.textul ul li{
  padding: 10px;
}
.term{
  padding: 10px; 
  margin-left: 10px;
}
.priv{
  margin-top: 25px;
  margin-left: 10px;
  font-size: small;
  letter-spacing: 0.30 px;
} 
.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 15px;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:6px;
  font-size: 17px;
  background: transparent;
  color:#000000;
  border: 2px solid;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.container form .submit-btn:hover{
  background: #19130D;
  color: #fff;
  transition: 0.30s;
}
/* @media(max-width:616px){
    .img img{
      display: none;
    }
} */
